*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    background-image: url(./img/madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-principal{
    width: 80%;
    max-width: 600px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 2rem;
}
.contenedor.botones{
    padding: 2rem;
}
#cronometro{
    width: 100%;
    font-size: 8rem;
    font-weight: bold;
    user-select: none;
    font-family: sans-serif;
}
.boton{
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
}
#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i{
    background-color: #08e008b7;
}
#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i{
    background-color: #ffdd00b4;
}
#boton-reiniciar{
    background-color: rgba(255, 0, 0, 0.671);
}